---
import { Aside } from '@astrojs/starlight/components';
const { title, author, source, license } = Astro.props;
const isSpecificLicense = license && license.name && license.url;

---
<Aside title="Attribution">
	Uses content adapted from <a href={source}>{title}</a>. Copyright © {author}. Licensed under the {
		isSpecificLicense?
			<Fragment><a href={license.url}>{license.name}</a> License (see the complete license terms).</Fragment>
		:
			<Fragment>{license?.name || license} License.</Fragment>
	}
</Aside>